<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net461" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net461" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4420.1017" targetFramework="net461" />
  <package id="Moq" version="4.8.0-rc1" targetFramework="net461" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net461" />
  <package id="NUnit" version="3.8.1" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Console" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net461" />
</packages>